USE [BTITTicketReq]
GO
/****** Object:  StoredProcedure [dbo].sp_GetITMGRBySamAcc    Script Date: 23-03-2026 10:18:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  OR ALTER   PROCEDURE [dbo].sp_GetITMGRBySamAcc
    @SamAccMgr NVARCHAR(100) = NULL OUTPUT,
	@SamAccEmail NVARCHAR(512) = NULL OUTPUT,
	@displayName NVARCHAR(512) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON; 
	/*
	SET @SamAccMgr = 'sakulchai.p	';
	SET @SamAccEmail = 'sakulchai.p@berninathailand.com';
	SET @displayName =  'Sakulchai Panwilai';
	*/
	
	SELECT
		@SamAccMgr = ISNULL(e.SAMACC, ''),
		@SamAccEmail = ISNULL(e.UEMAIL, '') , 
		@displayName =  ISNULL(e.DISPNAME, '') 
	FROM   [BT_HR].[dbo].[onl_TBADUsers]       e
	INNER JOIN [BTITReq].[dbo].[TBUserFunction] f
			ON  f.USERLOGON COLLATE THAI_CI_AS = e.SAMACC
	WHERE  f.FUNCODE    = 7
		AND  f.FLAG       = 1        -- เฉพาะที่ Active
		AND  e.empstatus  = 1        -- เฉพาะพนักงานที่ยังทำงานอยู่
	ORDER BY e.DISPNAME;
	

END
