USE [smart_production]
GO
/****** Object:  StoredProcedure [dbo].[SP_MigWOData]    Script Date: 23-03-2026 4:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sakulchai.P>
-- Create date: <07/03/2024>
-- Description:	<Insert user Windows Authen All in AD Account *** Insert with Large data from Temporary table structure>
-- นำเข้าข้อมูลจาก Excel file โดยเอาเข้าเฉพาะข้อมูล WO ที่ยังไม่มีเท่านั้น
-- V100		Sakulchai.P		Initial
-- =============================================

ALTER PROCEDURE [dbo].[SP_MigWOData] 
	@TempTable AS dbo.TBLTMP_WODATA READONLY, 
	@IROW int output
AS
BEGIN
	SET @IROW = 0; 
	declare @s_WORK_ORDER nvarchar(50);
	declare @s_WO_QTY int;

	-- Declare cursor from select table 'CUSTOEMR'
	DECLARE cursor_wo CURSOR FOR 
	
	SELECT WORK_ORDER, WO_QTY FROM @TempTable;

	-- Open Cursor
	OPEN cursor_wo 
	FETCH NEXT FROM cursor_wo 
	INTO @s_WORK_ORDER, @s_WO_QTY;

	-- Loop From Cursor
	WHILE (@@FETCH_STATUS = 0) 
	BEGIN 
		
		-- Display
		IF NOT EXISTS(SELECT * FROM [smart_production1].[wo_info] WHERE WORK_ORDER = @s_WORK_ORDER) 
			BEGIN
				INSERT INTO [smart_production1].[wo_info] 
					([WORK_ORDER], [WO_QTY], [WO_UPDATED]) 
				VALUES (@s_WORK_ORDER, @s_WO_QTY, GETDATE());
				SET @IROW = @IROW + 1;
			END
		FETCH NEXT FROM cursor_wo -- Fetch next cursor
		INTO @s_WORK_ORDER, @s_WO_QTY; -- Next into variable
		
	END
	
	-- Close cursor
	CLOSE cursor_wo; 
	DEALLOCATE cursor_wo; 
	
	RETURN @IROW;
END
