USE [smart_production]
GO
/****** Object:  StoredProcedure [dbo].[SP_MigSerialData]    Script Date: 23-03-2026 4:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sakulchai.P>
-- Create date: <07/03/2024>
-- Description:	<Insert user Windows Authen All in AD Account *** Insert with Large data from Temporary table structure>
-- นำเข้าข้อมูลจาก Excel file โดยเอาเข้าเฉพาะข้อมูล Serial ที่ยังไม่มีเท่านั้น
-- V100		Sakulchai.P		Initial
-- =============================================

ALTER PROCEDURE [dbo].[SP_MigSerialData] 
	@TempTable AS dbo.TBLTMP_SNDATA READONLY, 
	@IROW int output,
	@UROW int output
AS
BEGIN
	SET @IROW = 0; SET @UROW = 0;
	declare @s_location_id nvarchar(15);
	declare @s_emp_id nvarchar(15);
	declare @s_result_shoes int;
	declare @s_result_wrist int;
	declare @s_create_at datetime;

	declare @s_SERIAL_NO nvarchar(50);
	declare @s_WORK_ORDER nvarchar(50);
	declare @s_flag_new_model int;
	declare @s_itemno varchar(50);
	declare @s_dimens1 varchar(5);
	declare @s_dimens2 varchar(5);
	declare @s_prodname varchar(150); 

	-- Declare cursor from select table 'CUSTOEMR'
	DECLARE cursor_sn CURSOR FOR 
	
	SELECT SERIAL_NO, WORK_ORDER, flag_new_model, itemno, dimens1, dimens2, prodname FROM @TempTable;

	-- Open Cursor
	OPEN cursor_sn 
	FETCH NEXT FROM cursor_sn 
	INTO @s_SERIAL_NO, @s_WORK_ORDER, @s_flag_new_model, @s_itemno, @s_dimens1, @s_dimens2, @s_prodname;

	-- Loop From Cursor
	WHILE (@@FETCH_STATUS = 0) 
	BEGIN 
		
		-- Display
		IF NOT EXISTS(SELECT * FROM [smart_production1].[serial_info_dev] WHERE SERIAL_NO = @s_SERIAL_NO) 
			BEGIN
				INSERT INTO [smart_production1].[serial_info_dev] 
					([SERIAL_NO], [WORK_ORDER], [SN_STATUS], [SN_UPDATED], [flag_new_model], [itemno], [dimens1], [dimens2], [prodname]) 
				VALUES (@s_SERIAL_NO, @s_WORK_ORDER, '', GETDATE(), @s_flag_new_model, @s_itemno, @s_dimens1, @s_dimens2, @s_prodname);
				SET @IROW = @IROW + 1;
			END
		FETCH NEXT FROM cursor_sn -- Fetch next cursor
		INTO @s_SERIAL_NO, @s_WORK_ORDER, @s_flag_new_model, @s_itemno, @s_dimens1, @s_dimens2, @s_prodname;  -- Next into variable
		
	END
	
	-- Close cursor
	CLOSE cursor_sn; 
	DEALLOCATE cursor_sn; 
	
	RETURN @IROW;
	RETURN @UROW;
END
