-- ============================================================
--  12_sp_ReturnITPICTask.sql
--  IT PIC ส่งงานคืน → IT Admin มอบหมายใหม่
--
--  Flow:
--    IT PIC กด "Return Task"
--    → TBITTicketPIC.Status = 'Returned'
--    → ถ้าทุกคน Close/Returned แล้ว → Ticket = PendingITAdminAssign
--    → ถ้ายังมีคน Active → Ticket ยังอยู่ที่ PendingITPIC
--
--  รัน script นี้บน DB: BTITTicketReq
-- ============================================================

USE [BTITTicketReq]
GO

-- ── STEP 1: เพิ่ม Status 'Returned' ใน TBITTicketPIC ─────────────────
-- (Column Status ปัจจุบัน: Active | Closed → เพิ่ม Returned)
-- ไม่ต้อง ALTER TABLE เพราะ Status เป็น NVARCHAR ไม่มี CHECK constraint
PRINT 'TBITTicketPIC.Status supports: Active | Closed | Returned (no schema change needed)'
GO

-- ── STEP 2: sp_ReturnITPICTask ────────────────────────────────────────
CREATE OR ALTER PROCEDURE dbo.sp_ReturnITPICTask
    @TicketId    UNIQUEIDENTIFIER,
    @SamAcc      NVARCHAR(100),        -- IT PIC ที่ส่งงานคืน
    @Remark      NVARCHAR(1000) = NULL, -- เหตุผลที่ส่งคืน
    @NewStatus   NVARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRANSACTION;
    BEGIN TRY

        -- Mark PIC นี้ว่า Returned
        UPDATE dbo.TBITTicketPIC
        SET    Status      = 'Returned',
               ClosedAt    = GETDATE(),
               ClosedBy    = @SamAcc,
               CloseRemark = @Remark
        WHERE  TicketId = @TicketId
          AND  SamAcc   = @SamAcc COLLATE THAI_CI_AS
          AND  Status   = 'Active';

        -- Log
        INSERT INTO dbo.TBITTicketLog
               (TicketId, ApproverFunCode, ApproverSam, ApproverName,
                Action, Remark, ActionAt)
        SELECT  @TicketId, 6, @SamAcc,
                e.DISPNAME, 'ReturnTask', @Remark, GETDATE()
        FROM   [BT_HR].[dbo].[onl_TBADUsers] e
        WHERE  e.SAMACC = @SamAcc COLLATE THAI_CI_AS AND e.empstatus = 1;

        -- ตรวจว่ายังมี PIC Active อยู่ไหม
        DECLARE @ActiveCount INT;
        SELECT @ActiveCount = COUNT(*)
        FROM   dbo.TBITTicketPIC
        WHERE  TicketId = @TicketId AND Status = 'Active';

        IF @ActiveCount = 0
        BEGIN
            -- ไม่มีคน Active แล้ว → ส่งกลับให้ IT Admin Assign ใหม่
            SET @NewStatus = 'PendingITAdminAssign';
            UPDATE dbo.TBITTicket
            SET    Status    = 'PendingITAdminAssign',
                   UpdatedAt = GETDATE()
            WHERE  TicketId  = @TicketId;
        END
        ELSE
        BEGIN
            -- ยังมีคนอื่นทำงานอยู่ → Status คงเดิม
            SET @NewStatus = 'PendingITPIC';
        END

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
PRINT 'sp_ReturnITPICTask created.'
GO

-- ── ทดสอบ ──────────────────────────────────────────────────────────
-- DECLARE @ns NVARCHAR(50);
-- EXEC dbo.sp_ReturnITPICTask
--     @TicketId  = 'YOUR-TICKET-GUID',
--     @SamAcc    = 'nanthawan.c',
--     @Remark    = 'ไม่ตรงตามสายงาน',
--     @NewStatus = @ns OUTPUT;
-- SELECT @ns AS NewStatus;
GO

PRINT '=== 12_sp_ReturnITPICTask.sql completed ==='
GO
